<%- include('../partials/header.ejs') %>   





<h1 class = "text-center">Creat'e new campgrounds</h1>
<div class = "container " style = "width:30%;">
  
  <form action = "/campgrounds" method = "POST">
      <div class="form-group text-center">
        <input type="text" name = "name" class="form-control" aria-describedby="emailHelp" placeholder="name">
        <input type="text" name = "image" class="form-control"  placeholder="image URL">
        <input type="text" name = "description" class="form-control"  placeholder="description">
        <input type="number" id="quantity" name="price" min="0.01" step="0.01" class="form-control" placeholder="price">
        
      </div>
      <div>
        <ul id="feedBackList">
          
        </ul> 
        <button id="plusBtn" type="button">+</button>
        <button type="button">-</button>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Add</button>
    </form>
  <a href = "/campgrounds" >Back</a>
</div>

<script type="text/javascript" src="/javascripts/newCamp.js"></script>
<%- include('../partials/footer.ejs') %>   


