<%- include('../partials/header.ejs') %>   

<h1 class = "text-center">Creat'e new campgrounds</h1>
<div class = "container " style = "width:30%;">
  
  <form action = "/campgrounds" method = "POST">
      <div class="form-group text-center">
        <input type="text" name = "name" class="form-control" aria-describedby="emailHelp" placeholder="name">
        <input type="text" name = "image" class="form-control"  placeholder="image URL">
        <input type="text" name = "description" class="form-control"  placeholder="description">
      </div>
      
      
      <button type="submit" class="btn btn-primary btn-block">Add</button>
    </form>

  <a href = "/campgrounds" >Back</a>
</div>


<%- include('../partials/footer.ejs') %>   
