.img-thumbnail img {
    padding: 0;
    width: 100%;
}
.img-thumbnail{
    padding: 0;
}
.img-thumbnail .caption-full{
    padding: 10px;
}


#deleteBtn{
    display: inline;
}

.rating > span:hover:before {
    content: "\2605";
    position: absolute;
}


