.img-thumbnail img {
    padding: 0;
    width: 100%;
}
.img-thumbnail{
    padding: 0;
}
.img-thumbnail .caption-full{
    padding: 10px;
}


#deleteBtn{
    display: inline;
}


.rating {
    
    transform: translate(-70%, 0%) rotateY(180deg);
    top: 50%;
    left: 50%;
    display: flex;
}

.rating input{
    display: none;
    
} 
.rating label {

    display: block;
    cursor: pointer;
    width: 50px;
    
}

.rating label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: #cdd5dd;


}


.rating label:after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: #1f9cff;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
} 

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
    opacity: 1; 
}

ul {
    list-style-type: none;
}

.posFeedback {
    background-color:greenyellow;
}

.negFeedback {
    background-color: red;
}


#posFeedBackList {
    padding-left: 0;
}
#negFeedBackList {
    padding-left: 0;
}